html {
  font-family: Roboto, sans-serif;
  --primary-color: #2f80ed;
  --secondary-color: #333333;
  --bg-color: #ffffff;
}

html[data-theme='dark'] {
  --primary-color: #2f80ed;
  --secondary-color: #ffffff;
  --bg-color: #202020;
}
body {
  background-color: var(--bg-color);
}
* {
  color: var(--secondary-color);
}

h1 {
  color: var(--primary-color);
  margin-bottom: 0.25em;
}

h2 {
  color: var(--secondary-color);
  font-size: 1em;
  margin-top: 0;
  margin-bottom: 1em;
}
h3 {
  color: var(--primary-color);
}
a {
  color: var(--primary-color);
}

section {
  margin-bottom: 3em;
  position: relative;
}

.cv {
  max-width: 900px;
  margin: 0 auto;
}
.contacts {
  margin-bottom: 2em;
}

.contact {
  display: flex;

  &__type {
    min-width: 90px;
  }
}

.experience {
  display: flex;
  margin-bottom: 2em;
  &__date {
    min-width: 185px;
    margin-bottom: 1em;
  }
  &__name {
    font-weight: bold;
  }
}

@media (max-width: 575px) {
  .experience {
    display: block;
  }
}


.theme-switch-wrapper{
  position: absolute;
  right: 0;
  top: 0;
}

.theme-switch-wrapper {
  display: flex;
  align-items: center;

  em {
    margin-left: 10px;
  }
  .theme-switch__label{
    margin-left: 10px;
  }
}
.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display:none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
}

input:checked + .slider {
  // background-color: #66bb6a;
  background-color: var(--primary-color);
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

html.transition,
html.transition *
{
  transition: all 750ms !important;
  transition-delay: 0 !important;
}