$primary-color: #2f80ed;
$secondary-color: #333333;

html {
  font-family: Roboto, sans-serif;
}

* {
  color: $secondary-color;
}

h1 {
  color: $primary-color;
  margin-bottom: 0.25em;
}

h2 {
  color: $secondary-color;
  font-size: 1em;
  margin-top: 0;
  margin-bottom: 1em;
}
h3 {
  color: $primary-color;
}
a {
  color: $primary-color;
}

section {
  margin-bottom: 3em;
}

.cv {
  max-width: 900px;
  margin: 0 auto;
}
.contacts {
  margin-bottom: 2em;
}

.contact {
  display: flex;

  &__type {
    min-width: 90px;
  }
}

.experience {
  display: flex;
  margin-bottom: 2em;
  &__date {
    min-width: 185px;
    margin-bottom: 1em;
  }
  &__name {
    font-weight: bold;
  }
}

@media (max-width: 575px) {
  .experience {
    display: block;
  }
}